body {
    position: relative;
    min-height: 980px;
}

.nav>li {
    text-align: center;
    width: 150px;
}

.active {
    border-bottom: 2px solid #0013D6;
}

a.btn,
a.button,
button.btn {
    font-size: 24px;
    background: #C06276;
    color: #000;
}

table.table {
    border: 3px solid;
    border-radius: 40px;
}

ul li a {
    text-transform: uppercase;
}

ul li a span {
    margin: 0 0 0 5px;
}

.row {
    margin-right: 0px;
}

td,
th {
    font-size: 20px;
}

td input {
    transform:scale(1.3);
    opacity:0.9;
    cursor:pointer;
}

td a:hover,
td a:hover {
    color: red;
    text-decoration: none;
    font-style: italic;
}

tr td,
th {
    text-align: center;
}

th {
    font-size: 23px;
}

footer.footer .navbar {
    border: none;
}

html,
body {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f0b7a1+0,752201+0,bf6e4e+100 */
    background: rgb(240,183,161); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(240,183,161,1) 0%, rgba(117,34,1,1) 0%, rgba(191,110,78,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(240,183,161,1) 0%,rgba(117,34,1,1) 0%,rgba(191,110,78,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(240,183,161,1) 0%,rgba(117,34,1,1) 0%,rgba(191,110,78,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0b7a1', endColorstr='#bf6e4e',GradientType=0 ); /* IE6-9 */
    min-height: 980px;
}

.container {
    background: #FAFAFA;
}

body > div.container > nav > div {
    background: rgb(125,126,125); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(4,14,14,1) 0%, rgba(125,126,125,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(14,14,14,1) 0%,rgba(125,126,125,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(4,14,14,1) 0%,rgba(125,126,125,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e0e0e', endColorstr='#7d7e7d',GradientType=0 ); /* IE6-9 */
}

body > div.footer > footer > nav > div {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7d7e7d+0,0e0e0e+100;Black+3D */
    background: rgb(125,126,125); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(125,126,125,1) 0%, rgba(14,14,14,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */
}

body > .conteiner {
    min-height: 980px;
}

.conteiner {
    padding-bottom: 150px;
}

.footer {
    color: white;
    position: absolute;
    bottom: -50px;
    width: 100%;
}

body > div.footer > footer > nav > div
.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>li>a {
    color: white;
    text-transform: lowercase;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    color: white;
    text-transform: uppercase;
}

.navbar-default {
    margin: 10px 0 0 0;
    border-radius:  20px 20px 0 0px;
    border-top: 10px solid #0e0e0e;
    border-left: 2px solid;
    border-right: 2px solid;
}

footer .navbar {
    margin-bottom: 0;
}

footer ul.nav li {
    float: none;
    margin: 0px;
}

footer.footer nav {
    margin: 0;
}

footer span {
    position: relative;
    float: right;
    top: 10px;
}

footer {
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 1200px) {
    footer{
        width: 1170px;
    }
}

@media screen (min-width: 992px) {
    footer{
        width: 970px;
    }
    .col-md-10{
        width: 25%;
    }
}

@media screen (min-width: 768px) {
    footer{
        width: 750px;
    }

    .col-md-10{
        width: 25%;
    }
}

.modal-body p {
    font-size: 20px;
}

.modal-title {
    text-transform: uppercase;
    font-size: 24px;
}

@media screen (min-width: 768px) {
    .col-sm-2{
        width: 100%;
    }
}

/*---FOR responseCollecting---*/
.col-xs-9,
.col-sm-9,
.col-md-9,
.form-control {
    font-size: 20px;
}

.col-xs-11,
.col-sm-11,
.col-md-11 {
    margin: 10px 0 10px 10px;
}

input[type=range] {
    -webkit-appearance: none;
    margin: 18px 0;
    width: 100%;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #3071a9;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}

input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -14px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #367ebd;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #3071a9;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}

input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: #2a6495;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]::-ms-fill-upper {
    background: #3071a9;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
    background: #3071a9;
}

input[type=range]:focus::-ms-fill-upper {
    background: #367ebd;
}

select.form-control {
    font-size: 20px;
}

select option {
    background: #FEE1E1;
}

tr th {
    width: 20%;
}

textarea {
    resize: none;
}

body > div.container > div.media {
    min-height: 900px;
}

div.col-xs-2-push-2.col-sm-10.col-md-10 {
    padding: 0;
    float: right;
    width: 25%;
}
body > div.bootstrap-datetimepicker-widget.dropdown-menu.picker-open.bottom{
    width: inherit;
}