@import models.dto.FieldTypeDTO
@(count:Long,id:Int)
@main("Create/Edit Field") {
<nav class="navbar navbar-default">
   <div class="container-fluid">
      <ul class="nav navbar-nav  ">
         <li><a href="@routes.FieldController.getAllFields">Fields</a></li>
         <li><a href="@routes.ProfileController.getProfilesCollection">Profiles&nbsp;<span
            class="badge">@count</span></a></li>
         <li><a href="@routes.FieldController.getUserForm(id)">My questionary</a></li>
         <li><a href="@routes.UserController.logout">Log Out</a></li>
      </ul>
   </div>
</nav>
<form role="form" id="add" name="edit" method="post"
   action="@routes.FieldController.addField">
   <div class="form-group">
      <div class="row">
         <div class="col-xs-3 col-sm-3 col-md-3">
            <label style="min-width: 320px;">Create/Edit Fields</label> <br/>
            <br/>
            <h5>Label*:</h5>
            <input type="text" name="label" class="form-control"
               style="margin-bottom: 10px"/>
            <h5>Real type*:</h5>
            <select class="form-control" id="typeOption" name="realType"
            style="margin-bottom: 10px" onclick="showStatistics()">
               <option>string</option>
               <option>number</option>
            </select>
            <h5 id="imp" style="display: none">Importance*:</h5>
            <div id="slider" style="margin-bottom: 10px;display: none">
               <input  class="bar" type="range"
               name="importance" id="impOption"
               min="0"
               max="1"
               value="0"
               step="0.01"
               onchange="document.getElementById('rangeValue').innerHTML = this.value";
              />
               <span id="rangeValue">0</span>

            </div>
            <h5 id="extr" style="display: none">Extremum type*:</h5>
            <select class="form-control" id="extrOption" name="extremum"
            style="margin-bottom: 10px; display:none">
               <option>min</option>
               <option>max</option>
            </select>
            <h5>Html type*:</h5>
            <select class="form-control" id="option" name="type"
               style="margin-bottom: 10px" onClick="show('block')">
               @for(fType <- FieldTypeDTO.values()){
               <option>@fType</option>
               }
            </select>
            <!-- Hidden fields-->
            <h5 id="label" style="display: none">Options*:</h5>
            <textarea rows="10" id="textarea" name="text" class="form-control"
               style="margin-bottom: 10px; display: none"></textarea>
            <input type="number" id="minValue" name="min" class="form-control"
               style="margin-bottom: 10px; display: none" placeholder="min value"/>
            <input type="number" id="maxValue" name="max" class="form-control"
               style="margin-bottom: 10px; display: none" placeholder="max value"/>
            <div class="row">
               <div class="col-xs-3-push-3 col-sm-6 col-md-6">
                  <button type="submit" class="btn btn-default" id="save">
                  <span class="glyphicon glyphicon-save"></span> Save
                  </button>
               </div>
               <div class="col-xs-3-push-3 col-sm-6 col-md-6 ">
                  <button type="reset" class="btn btn-default">
                  <span class="glyphicon glyphicon-remove-circle"></span> Cancel
                  </button>
               </div>
            </div>
         </div>
         <div class="col-md-9 col-sm-6">
            <div
               class="checkbox  col-xs-offset-5 col-sm-offset-3 col-md-offset-3"
               style="margin-top: 78px">
               <label><input type="checkbox" name="required">Required</label>
            </div>
            <div
               class="checkbox col-xs-offset-5 col-sm-offset-3 col-md-offset-3"
               style="margin-top: 58px">
               <label><input type="checkbox" name="active">Is
               Active</label>
            </div>
         </div>
      </div>
   </div>
</form>
}