@import java.util
@(fields:util.Collection[models.dto.FieldDTO])(count:Long)(id:Int)
@main("Fields List") {
<nav class="navbar navbar-default">
   <div class="container-fluid">
      <ul class="nav navbar-nav  ">
         <li><a href="@routes.FieldController.getAllFields">Fields</a></li>
         <li><a href="@routes.ProfileController.getProfilesCollection">Profiles&nbsp;<span
                 class="badge">@count</span></a></li>
         <li><a href="@routes.FieldController.getUserForm(id)">My questionary</a></li>
         <li><a href="@routes.UserController.logout">Log Out</a></li>
      </ul>
   </div>
</nav>
<div class="table-responsive">
   <table class="table table-hover table-bordered">
      <thead>
         <tr>
            <th>Label</th>
            <th>Real type</th>
            <th>Importance</th>
            <th>Extremum type</th>
            <th>Html type</th>
            <th>Required</th>
            <th>Is active</th>
            <th></th>
            <th></th>
         </tr>
      </thead>
      <tbody id="fields">
      @for(field <- fields) {
         <tr id="@field.getId()">
            <td>@field.getLabel()</td>
            <td>@field.getRealType()</td>
            <td>@field.getImportance()</td>
            <td>@field.getExtremum()</td>
            <td>@field.getFieldType()</td>
            @if(field.isRequired()){
               <td><input type="checkbox" checked="checked"
               disabled="disabled"></td>
            } else{
               <td><input type="checkbox" disabled="disabled"></td>
            }
            @if(field.isActive()){
               <td><input type="checkbox" checked="checked"
               disabled="disabled"></td>
            } else{
               <td><input type="checkbox" disabled="disabled"></td>
            }
            <td><a
            href="@routes.FieldController.getFieldInformation(field.getId())">edit</a></td>
            <td><a class="delete" role="button">delete</a></td>
         </tr>
      }

      </tbody>
   </table>
   <div class="row">
      <div class="col-xs-2 col-sm-2 col-md-2 "
         style="margin: 0px 0px 15px 0px">
         <a role="button" class="btn" href="@routes.FieldController.getFieldInformation(0)">
         <span class="glyphicon glyphicon-plus"></span> Add field
         </a>
      </div>
   </div>
</div>
<!-- Confirmation window-->
<div id="myModal" class="modal fade" role="dialog">
   <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Confirmation window</h4>
         </div>
         <div class="modal-body">
            <p>Are you sure you want to delete the field?</p>
            <div id="fieldId" style="display: none"></div>
         </div>
         <div class="modal-footer">
            <button type="button" id="ok" class="btn btn-primary">OK</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
         </div>
      </div>
   </div>
</div>
}