@import java.util
@(fieldsDTO: util.Collection[models.dto.FieldDTO], profilesDTO: util.Collection[models.dto.ProfileDTO], count: Long, id: Int)
    @main("Profile List") {

        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <ul class="nav navbar-nav  ">
                    <li><a href="@routes.FieldController.getAllFields">Fields</a></li>
                    <li><a href="@routes.ProfileController.getProfilesCollection">Profiles&nbsp;
                        <span class="badge">@count</span></a></li>
                    <li><a href="@routes.FieldController.getUserForm(id)">My questionary</a></li>
                    <li><a href="@routes.UserController.logout">Log Out</a></li>
                </ul>
            </div>
        </nav>
        <div class="table-responsive">
            <table class="table table-hover table-bordered" id="profilesTable">
                <thead>
                    <tr>
                    @for(field <- fieldsDTO) {
                        <th>@field.getLabel()</th>
                    }
                    </tr>
                </thead>
                <tbody>
                @for(profile <- profilesDTO) {
                    <tr>
                    @for(content <- profile.getInputParametersList()) {
                        <td>@content</td>
                    }
                    </tr>
                }
                </tbody>
            </table>
        </div>
        <a href="@routes.UserController.getFile" class="btn btn-info" role="button">
            <span class="glyphicon glyphicon-download-alt"></span>
            Get in PDF</a>
        <a href="#" class="btn btn-info hideValue" role="button" id="order">
            <span class="glyphicon glyphicon-refresh"></span>
            Sort</a>

    }
