@(isAdmin:Boolean)
@main("Main"){
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li><a href="#" data-toggle="modal" data-target="#logIn" class = "hideValue">Log In</a></li>
            <li><a href="#" data-toggle="modal" data-target="#signUp" class = "hideValue">Sign Up</a></li>
                @if(isAdmin){
                    <li><a href="@routes.FieldController.getAllFields">Fields</a></li>
                    <li><a href="@routes.ProfileController.getProfilesCollection">Profiles&nbsp;</a></li>
                }
        </ul>
    </div>
</nav>
<!-- Log In window-->
<div class="modal fade" id="logIn" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form role="form" method="post" name="logIn" id="logInForm" action="@routes.UserController.login"
                  onSubmit="return validate('logIn');">
                <div class="form-group">
                    <div class="row">
                        <div class=" col-xs-11 col-sm-11 col-md-11 ">
                            <div id="error1"></div>
                            Name*:
                            <input type="text" name="name" class="form-control" id="name1" style="margin-bottom: 10px"/>
                            Password*:
                            <input type="password" name="password" class="form-control" id="password1"
                                   style="margin-bottom: 10px"/>
                            <div class="row">
                                <div class="col-xs-2-pull-2 col-sm-2 col-md-2">
                                    <button type="submit" class="btn btn-default">
                                        <span class="glyphicon glyphicon-log-in"></span> Log In
                                    </button>
                                </div>
                                <div class="col-xs-2-push-2 col-sm-10 col-md-10">
                                    <button type="button" class="btn btn-default"
                                            data-dismiss="modal">
                                        <span class="glyphicon glyphicon-remove-circle"></span> Cancel
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Sign Up window-->
<div class="modal fade" id="signUp" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form role="form" method="post" action="@routes.UserController.createProfilesCollection"
                  onSubmit="return validate('signUp');" name="signUp" id="signUpForm">
                <div class="form-group">
                    <div class="row">
                        <div class=" col-xs-11 col-sm-11 col-md-11 ">
                            <div id="error2"></div>
                            Name*:
                            <input type="text" name="name" class="form-control" id="name2" style="margin-bottom: 10px"/>
                            Password*:
                            <input type="password" name="password" class="form-control" id="password2"
                                   style="margin-bottom: 10px"/>
                            <div class="row">
                                <div class="col-xs-2-pull-2 col-sm-2 col-md-2">
                                    <button type="submit" class="btn btn-default">
                                        <span class="glyphicon glyphicon-log-in"></span> Sign Up
                                    </button>
                                </div>
                                <div class="col-xs-2-push-2 col-sm-10 col-md-10">
                                    <button type="button" class="btn btn-default"
                                            data-dismiss="modal">
                                        <span class="glyphicon glyphicon-remove-circle"></span> Cancel
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal hide" id="message">
    <div class="modal-dialog">
        <div class="modal-content">
            <h1>Thank you for submitting your data</h1>
        </div>
    </div>
</div>
<h2>Data Collection Service</h2>
<div class="media">
    <div class="media-left">
        <img src="@routes.Assets.at("images/main.jpg")" class="img-rounded" alt="main" width="304" height="236"/>
    </div>
    <div class="media-body">
        <p>The project is a service survey and data collection. An authorized user of the system (the administrator) can
            create profiles in a set of fields and labels. In the process of questioning the admin can create / delete /
            edit the fields.</p>
        <p>Webmaster must also be made available to the page showing the results of the survey in the form of a
            table.</p>
        <p>It must be realized the possibility of questioning the results in PDF format.</p>
        <p>Each admin page should display the current number of completed questionnaires.</p>
        <p>Unauthorized users of the system should be available to a page with a questionnaire created by the
            administrator.</p>
    </div>
</div>
}
