@import models.dto.FieldTypeDTO
@import builder.TextareaContentBuilder
@import models.dto.RealFieldTypeDTO
@import models.dto.ExtremumTypeDTO
@(field:models.dto.FieldDTO,count:Long,id:Int)
@main("Create/Edit Field") {
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <ul class="nav navbar-nav  ">
            <li><a href="@routes.FieldController.getAllFields">Fields</a></li>
            <li><a href="@routes.ProfileController.getProfilesCollection">Profiles&nbsp;<span
                    class="badge">@count</span></a></li>
            <li><a href="@routes.FieldController.getUserForm(id)">My questionary</a></li>
            <li><a href="@routes.UserController.logout">Log Out</a></li>
        </ul>
    </div>
</nav>
<form role="form" id="edit" name="edit" method="post"
      action="@routes.FieldController.editField">
    <div class="form-group">
        <div class="row">
            <div class="col-xs-3 col-sm-3 col-md-3">
                <label style="min-width: 320px;">Create/Edit Fields</label> <br/>
                <br/>
                <h5>Label*:</h5>
                <input
                        type="text" name="label" class="form-control" value="@field.getLabel()"
                        style="margin-bottom: 10px"/>

                <h5>Real type*:</h5>
                <select class="form-control" id="typeOption" name="realType"
                style="margin-bottom: 10px" onclick="showStatistics()">
                @for(rfType <- RealFieldTypeDTO.values()){ @if(field.getRealType==rfType){
                    <option selected>@rfType</option>
                } else{
                    <option>@rfType</option>
                } }
                </select>

                <h5 id="imp" style="display: none">Importance*:</h5>

                @if(field.getRealType == RealFieldTypeDTO.STRING){
                <div id="slider" style="margin-bottom: 10px;
                    display: none">
                    <input class="bar" type="range"
                    name="importance" id="impOption"
                    min="0"
                    max="1"
                    value="@field.getImportance"
                    step="0.01"
                    onchange="document.getElementById('rangeValue').innerHTML = this.value" ;
                    />
                    <span id="rangeValue">@field.getImportance</span>
                </div>
                }else{
                    <div id="slider" style="margin-bottom: 10px;">
                        <input class="bar" type="range"
                        name="importance" id="impOption"
                        min="0"
                        max="1"
                        value="@field.getImportance"
                        step="0.01"
                        onchange="document.getElementById('rangeValue').innerHTML = this.value" ;
                        />
                        <span id="rangeValue">@field.getImportance</span>
                    </div>
                }

                <h5 id="extr" style="display: none">Extremum type*:</h5>
                @if(field.getRealType == RealFieldTypeDTO.STRING){
                <select class="form-control" id="extrOption" name="extremum"
                style="margin-bottom: 10px; display:none">
                @for(eType <- ExtremumTypeDTO.values()){ @if(field.getExtremum==eType){
                    <option selected>@eType</option>
                } else{
                    <option>@eType</option>
                } }
                </select>
                }else{
                    <select class="form-control" id="extrOption" name="extremum"
                    style="margin-bottom: 10px">
                    @for(eType <- ExtremumTypeDTO.values()){ @if(field.getExtremum==eType){
                        <option selected>@eType</option>
                    } else{
                        <option>@eType</option>
                    } }
                    </select>
                }

                    <h5>Html type*:</h5>
                <select class="form-control" id="option" name="type"
                        style="margin-bottom: 10px" onClick="show('block')">
                    @for(fType <- FieldTypeDTO.values()){ @if(field.getFieldType()==fType){
                    <option selected>@fType</option>
                    } else{
                    <option>@fType</option>
                    } }
                </select>
                <input type="hidden" name="id" value="@field.getId()"/>
                @defining(if(field.getFieldType==FieldTypeDTO.RADIO_BUTTON || field.getFieldType==FieldTypeDTO.CHECK_BOX
                ||
                field.getFieldType==FieldTypeDTO.COMBO_BOX || field.getFieldType==FieldTypeDTO.SLIDER) "block" else
                "none") {display =>
                <h5 id="label" style="display: @display">Options*:</h5>
                }

                @if(field.getFieldType==FieldTypeDTO.RADIO_BUTTON || field.getFieldType==FieldTypeDTO.CHECK_BOX ||
                field.getFieldType==FieldTypeDTO.COMBO_BOX ){
                @defining(TextareaContentBuilder.getContent(field.getValuesList())) {content =>
                <textarea rows="10" id="textarea" name="text" class="form-control"
                          style="margin-bottom: 10px; display: block">@content</textarea>
                }}else{
                <textarea rows="10" id="textarea" name="text" class="form-control"
                          style="margin-bottom: 10px; display: none"></textarea>
                }

                @if(field.getFieldType==FieldTypeDTO.SLIDER ){
                <input type="number" id="minValue" name="min" class="form-control"
                       style="margin-bottom: 10px; display: block"
                       value="@field.getValuesList().get(0).getFieldValue()"/>
                <input type="number" id="maxValue" name="max" class="form-control"
                       style="margin-bottom: 10px; display: block"
                       value="@field.getValuesList().get(1).getFieldValue()"/>
                }else{
                <input type="number" id="minValue" name="min" class="form-control"
                       style="margin-bottom: 10px; display: none" placeholder="min value"/>
                <input type="number" id="maxValue" name="max" class="form-control"
                       style="margin-bottom: 10px; display: none" placeholder="max value"/>
                }
                <div class="row">
                    <div class="col-xs-3-push-3 col-sm-6 col-md-6">
                        <button type="submit" class="btn btn-default" id="save">
                            <span class="glyphicon glyphicon-save"></span> Save
                        </button>
                    </div>
                    <div class="col-xs-3-push-3 col-sm-6 col-md-6 ">
                        <button type="reset" class="btn btn-default">
                            <span class="glyphicon glyphicon-remove-circle"></span> Cancel
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-9 col-sm-6">
                <div
                        class="checkbox  col-xs-offset-5 col-sm-offset-3 col-md-offset-3"
                        style="margin-top: 78px">
                    @if(field.isRequired()){
                    <label><input type="checkbox" name="required" value="true" checked>Required</label>
                    } else{
                    <label><input type="checkbox" name="required" value="true">Required</label>
                    }
                </div>
                <div
                        class="checkbox col-xs-offset-5 col-sm-offset-3 col-md-offset-3"
                        style="margin-top: 58px">
                    @if(field.isActive()){
                    <label><input type="checkbox" name="active" value="true" checked>Is Active</label>
                    } else{
                    <label><input type="checkbox" name="active" value="true">Is Active</label>
                    }
                </div>
            </div>
        </div>
    </div>
</form>
}
