@import models.dto.FieldTypeDTO
@import java.util
@(fields:util.Collection[models.dto.FieldDTO])(id:Int)
@main("Responses collecting") {
<div id="adminId" style="display:none;">@id</div>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li>
                <a href="@routes.UserController.logout">Log Out</a></li>
        </ul>
    </div>
</nav>
<form role="form" method="post"  id="responseForm" style="margin-top: 30px">
    <div class="form-group">
        <div class="row">
            <div class=" col-xs-9 col-sm-9 col-md-9 ">
                @for(field <- fields) {
                    @if(field.isActive()){
                        @defining(if(field.isRequired()) field.getLabel() + "*" else field.getLabel() ) { name =>
                            <label>@name :</label>
                        }
                        @defining(if(field.isRequired()) "required" else "" ) { required =>
                            <!-- Single line text-->
                            @if(field.getFieldType() == FieldTypeDTO.SINGLE_LINE_TEXT) {
                                <input type="text" name="@field.getLabel()" class="form-control @required" style="margin-bottom: 10px"/>
                            }
                            <!-- Multi line text-->
                            @if(field.getFieldType() == FieldTypeDTO.MULTI_LINE_TEXT) {
                                <textarea rows="10" name="@field.getLabel()" class="form-control @required" style="margin-bottom: 10px"></textarea>
                            }
                            <!-- Radio Button-->
                            @if(field.getFieldType() == FieldTypeDTO.RADIO_BUTTON) {
                                <div class="radio @required">
                                    @for(value <- field.getValuesList()) {
                                        <label>
                                            <input type="radio" name="@field.getLabel()" value="@value.getFieldValue()" style="margin-bottom: 10px"/>
                                            @value.getFieldValue()
                                        </label>
                                    }
                                </div>
                            }
                            <!-- Check box-->
                            @if(field.getFieldType() == FieldTypeDTO.CHECK_BOX) {
                                <div class="checkbox @required">
                                    @for(value <- field.getValuesList()) {
                                        <label>
                                            <input type="checkbox" name="@field.getLabel()" value="@value.getFieldValue()" style="margin-bottom: 10px"/>
                                            @value.getFieldValue()
                                        </label>
                                    }
                                </div>
                            }
                            <!-- Combo box-->
                            @if(field.getFieldType() == FieldTypeDTO.COMBO_BOX) {
                                <select class="form-control" name="@field.getLabel()" style="margin-bottom: 10px">
                                    @for(value <- field.getValuesList()) {
                                        <option>@value.getFieldValue()</option>
                                    }
                                </select>
                            }
                            <!-- Date-->
                            @if(field.getFieldType() == FieldTypeDTO.DATE) {
                                <div class="input-group date" id="datetimepicker1" style="margin-bottom: 10px">
                                    <input type="text" name="@field.getLabel()" class="form-control @required"/>
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            }
                            <!-- Slider-->
                            @if(field.getFieldType() == FieldTypeDTO.SLIDER) {
                                <div id="slider">
                                    @defining(field.getValuesList()) { valuesList =>
                                        <input id="rangeinput" class="bar" type="range"
                                               name="@field.getLabel()"
                                               min="@valuesList.head.getFieldValue()"
                                               max="@valuesList.tail.head.getFieldValue()"
                                               value="@valuesList.head.getFieldValue()"
                                               onchange="rangevalue.value=value"/>
                                        <output id="rangevalue">@valuesList.head.getFieldValue()</output>
                                    }
                                </div>
                            }
                        }
                    }
                }

                <div class="row">
                    <div class="col-xs-2-pull-2 col-sm-2 col-md-2">
                        <button type="submit" class="btn btn-default">
                            <span class="glyphicon glyphicon-save"></span> Save
                        </button>
                    </div>
                    <div class="col-xs-2-push-2 col-sm-2 col-md-2">
                        <button type="reset" class="btn btn-default">
                            <span class="glyphicon glyphicon-remove-circle"></span> Cancel
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
}
